@import '/styles/header.css';

* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
}

main {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/** form **/

input[type=text], input[type=number] {
    width: 35vw;
    height: 10vh;
    outline-color: rgba(0, 217, 255, 0.579);
    padding: 0 1vw;
    border-radius: 1vw;
    border: none;
    background-color: rgb(157, 157, 157);
    color: rgba(0, 0, 0, 0.779);
    margin-bottom: 5vh;
}

input[type=text]::placeholder, input[type=number]::placeholder {
    color: rgb(0, 0, 0)
}

button {
    height: 7vh;
    width: 15vw;
    border-radius: 2vw;
    border: none;
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(0, 217, 255, 0.579);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    border: 0.2vw solid rgba(0, 217, 255, 0.579);
    background-color: transparent;
    color: rgba(0, 217, 255, 0.579);
}
